{% extends "layout.html" %}
{% block content %}
  <div id="crumb-container">
    <a href="{{ url_for('home') }}">Home</a><span>/</span>
    <a href="{{ url_for('Contacts') }}">Contacts</a><span>/</span>
    <p>{{ contact.name }}</p>
  </div>
  <main role="main">
    <section class="content-container">
      <h2>Contact Info</h2>
      <div class="">
        <p>Name: {{ contact.name }}</p> 
        <p>Address: {{ contact.address }}</p>
        <p>Phone number: {{ contact.phoneNumber }}</p>
        <p>Email: {{ contact.email }}</p>
        <div class="EditContact"><a href="{{ url_for('EditContact', contact=contact.contactId)}}">Edit contact</a></div>
        <div class="DeleteContact"><a href="{{url_for('DeleteContact', contact=contact.contactId)}}">Delete contact</a></div>
      </div>
    </section>
  </main>
{% endblock %}
