{% extends "layout.html" %}
{% block content %}
  <div id="crumb-container">
    <a href="{{ url_for('home') }}">Home</a><span>/</span>
    <p>Contacts</p>
  </div>
  <main role="main">
  <section class="content-container">
    <h2>Contacts</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="contacts-container">
     {%  for contact in contacts %}
      <div class="contact-container">
        <a href="{{ url_for('ContactDetails', contact=contact.contactId)}}">
          <span>{{ contact.name }}</span>
          </a>

      </div>
      {% endfor %}
    </div>
      <div class="options-container">
        <a href="{{ url_for('NewContact')}}">Create new contact</a>
      </div>
  </section>
  </main>
{% endblock %}