{% extends "layout.html" %}
{% block content %}
  <main role="main">
  <section class="content-container">
    <h2>Phone Book</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="">
     {%  for contact in contacts %}
      <div class="">
        <p><a href="{{ url_for('ContactDetails', contact=contact.contactId)}}">
          <span>{{ contact.name }}</span>
          <span>{{ contact.address }}</span>
          <span>{{ contact.phoneNumber}}</span>
          <span>{{ contact.email }}</span>
        </a></p>
      </div>
     {% endfor %}
    </div>
  </section>
  </main>
{% endblock %}