{% extends "layout.html" %}
{% block content %}
  <div id="crumb-container">
    <a href="{{ url_for('home') }}">Home</a><span>/</span>
    <a href="{{ url_for('Contacts') }}">Contacts</a><span>/</span>
    <p>Delete Contact</p>
  </div>
  <main role="main">
  <section class="content-container">
    <h2>Delete Contact</h2>
    <div class="">
      <p> Are you sure you want to delete {{ contact.name }} from your contacts?</p>
      <form action="/deletecontact/{{ contact.contactId }}" method='POST'>
      <button>Delete contact</button>
      </form><div class="cancel-Deletion"><a href="{{  url_for('ContactDetails', contact=contact.contactId)}}">Cancel</a></div>
    </div>
  </section>
  </main>
{% endblock %}
