<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <meta name="author" content="Marc Preston" />
    <meta name="keyword" content="personal backup phonebook" />
    <meta name="description" content="A site to store phone numbers" />
    <title>Phonebook</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}" />
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" />-->
  <link rel="stylesheet" href="static/css/styles.css?q=00017" />
  </head>
  <body>
    <header role="banner">
      <h1>PhoneBook</h1>
      {% if  session['email'] %}
        <a href="{{ url_for('logout')}}">{{ session['email'] }}(logout)</a>
      {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('sign_up') }}">Signup</a>
      {% endif %}
    </header>
    {% block content %}
    {% endblock %}

  <footer role="footer">
    <nav role="navigation">
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="{{ url_for('legal') }}">Legal</a></li>
      </ul>
    </nav>
  </footer>
  </body>
</html>