{% extends "layout.html" %}
  {% block content %}
  <div id="crumb-container">
    <a href="{{ url_for('home')}}">Home</a><span> / </span>
    <p>login</p>
  </div>
    <main role="main">
      <section>
        <h2>Login</h2>
        {% with messages  = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <div class="form-container">
          <form method="POST" action="/login">
            {{ form.hidden_tag() }}
            <div class="form-group">
              {{ form.email.label(class="label") }}
              {{ form.email(class="field") }}
            </div>
            <div class="form-group">
              {{ form.password.label(class="label") }}
              {{ form.password }}
            </div>
            <div>
              {{ form.submit(class="button")}}
            </div>
            <a href="{{ url_for('resetPassword') }}">Reset password</a>
          </form>
        </div>
      </section>
    </main>
  {% endblock %}