{% extends "layout.html" %}
{% block content %}
  <div id="crumb-container">
    <a href="{{ url_for('home') }}">Home</a><span>/</span>
  </div>
  <main role="main">
    <section class="content-container">
      <h2> Password Reset</h2>
      {% with messages  = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <div class="form-container">
        <form method="POST" action="/resetpassword">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.email.label(class="label") }}
            {{ form.email(class="field") }}
          </div>
          <div>
            {{ form.submit(class="button") }}
          </div>
        </form>
      </div>
    </section>
  </main>
{% endblock %}